:root {
    --text-color: #F7F7F7;
    --text-color-secondary: #ffffff; 
    --text-color-accent: #e65f78;
    --background-color: #1F1F1F;
    --background-color-section: #333333;
    --text-font: Open Sans;
}

body {
    font-family: var(--text-font), sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    background-color: var(--background-color);
    min-height: 60px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 25px;
    margin-right: 100px;
}

.header__nav-list-item {
    color: var(--text-color);
}

.logo {
    margin-left: 100px;
}

.main {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.main__presentation {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 100px;
}

.main__picture {
    transform: scale(0.8);
}

.main__text {
    line-height: 0.4;
    margin-bottom: 30px;
    margin-left: -10px;
}

.title__name {
    color: var(--text-color);
    margin-left: 30px;
    font-size: 50px;
    font-weight: bold;
}

.title__text {
    color: var(--text-color);
    margin-left: 30px;
}

span {
    color: var(--text-color-accent);
}

.section {
    background-color: var(--background-color-section);
    color: var(--text-color-secondary);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.contact {
    color: var(--text-color-secondary);
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.contact__text {
    color: var(--text-color-secondary);
    box-sizing: border-box;
    width: auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

.btn {
    background-color: var(--text-color-accent);
    color: var(--text-color-secondary);
    padding: 10px;
    border-radius: 3px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.footer {
    background-color: var(--background-color);
    color: var(--text-color-secondary);
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.copyright {
    font-size: 10px;
    font-weight: normal;
}